@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --grey1: #ececec;
  --grey2: #858585;
  --grey3: #acacac;
  --grey4: #a4a4a4;
  --grey5: #1c1c1c;
  --gradient1: #fcf6be;
  --gradient2: #c1c2f8;
  --gradient3: #a9dec8;
  --gradient4: #90eee6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "League Spartan", sans-serif;
}

body {
  background: linear-gradient(-45deg, #fff7ac, #a9c4ff, #9bd8ce, #ffc7fd);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  color: white;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

/*********************/
/* Nav bar */

nav {
  background-color: #1c1c1c;
  opacity: 0%;
  height: 240px;
}

/*********************/
/* Section about */

#about .about-box {
  background: rgba(255, 255, 255, 0.21);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  position: relative;
  height: 400px;
  max-width: 1280px;
}

#about .about-box .hello img {
  position: absolute;
  height: 200px;
  top: -170px;
  left: 425px;
}

#about .about-box .about-image img {
  bottom: 0px;
  height: 530px;
  width: auto;
  position: absolute;
}

#about .about-box .about-image .hand {
  z-index: -1;
}
#about .about-box .about-image .gif {
  z-index: -2;
}

#about .about-box .about-text {
  flex: 2;
  font-size: 24px;
  line-height: 48px;
  text-align: right;
  margin-right: 4%;
}

.expand-icon .button {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.01);

  border-radius: 50px;
  cursor: pointer;
  height: 60px;
  width: 60px;

  margin: 20px 5px 0px 0px;
  overflow: hidden;
  display: inline-flex;
}

.expand-icon .button .icon {
  display: flex;
  height: 60px;
  width: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
}

.expand-icon .button .icon i {
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.expand-icon .button,
.expand-icon .button .icon,
.expand-icon .button .icon i,
.expand-icon .button span {
  transition: all 0.3s ease-out;
}

.expand-icon .button span {
  display: none;
  font-size: 16px;
  margin-left: 10px;
  line-height: 60px;
}

.expand-icon .button:hover span {
  display: block;
}

.expand-icon .button:hover {
  border: 0.1px solid rgba(255, 255, 255, 0.9);
  width: 200px;
}

.expand-icon .button:nth-child(1):hover .icon {
  background: #6686e5;
}

.expand-icon .button:nth-child(2):hover .icon {
  background: var(--grey5);
}

.expand-icon .button:nth-child(1) span {
  color: #6686e5;
}

.expand-icon .button:nth-child(2) span {
  color: var(--grey5);
}

/*********************/
/* Section abilities */

/* (Down) Background gradient */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* (Up) Background gradient */
